
<!-- <div class="collapse" id="collapseExample"> -->
  <!-- <div class="card card-body"> -->
    <h3>Add Artist</h3>
    <form>
      <div class="form-group row">
        <label for="artist_name_input" class="col-sm-4 col-form-label">Artist Name</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="artist_name_input" placeholder="Artist Name">
        </div>
      </div>
      <div class="form-group row">
          <label for="artist_school_input" class="col-sm-4 col-form-label">Artist School</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="artist_school_input" placeholder="Artist School or Reknown">
          </div>
      </div>
      <div class="form-group row">
          <label for="artist_bio_input" class="col-sm-4 col-form-label">Artist Bio</label>
          <div class="col-sm-8">
            <textarea class="form-control" type="text" id="artist_bio_input" row="5" placeholder="Artist Bio"></textarea>
          </div>
      </div>
      <div class="form-group row">
          <label for="artist_image_upload" class="col-sm-4 col-form-label">Artist Image</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-file" id="artist_image_upload">
        </div>
        </div>
        <a class="btn btn-primary btn-block" href="#" role="button" 
          (click)="addArtist(newArtist.value); newArtist.value=''">Add</a>
    </form>
  <!-- </div> -->
  
<!-- </div> -->

